/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.text-area .content {
	-fx-background-color: #333;
	-fx-text-fill: white;
}

.text-area {
	-fx-text-fill: white;
}

.text-field {
	-fx-background-color: #474747;
	-fx-text-fill: white;
}

.list-view {
	-fx-background-color: #5b5b5b;
	
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: #5b5b5b;
    -fx-text-fill:white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#141414 0%, #191919 25%, #1e1e1e 75%, #232323 100%);
    -fx-text-fill: white;
}

.list-cell:odd {
    -fx-background-color: #333;
    -fx-text-fill: white;
}